*~
*.tmp.nasm
*.tmp.wasm
*.tmp.obj
/examples/*.exe
/examples/*.com
/examples/*.tmp.*
/examples/prog.wasm
/examples/prog2.wasm
/open-watcom-2_0-c.zip
/open-watcom-2_0-c.zip.tmp
/dosmc.dir.win32exec-*.7z.exe
/tiny7zx
/dosmc.dir/*.exe
/dosmc.dir/*.dll
/dosmc.dir/perl510.dll
